*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 112.5%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: hsl(221, 100%, 96%);
  font-weight: 500;
}

.section {
  height: 50vh;
  width: 50vw;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 1200px) {
  .section {
    grid-template-columns: none;
    border-radius: none;
    height: 80vh;
  }
}
@media only screen and (max-width: 700px) {
  .section {
    height: 70vh;
    width: 60vw;
  }
}
@media only screen and (max-width: 500px) {
  .section {
    height: 60vh;
    width: 75vw;
  }
}
@media only screen and (max-width: 400px) {
  .section {
    height: 50vh;
    width: 85vw;
  }
}

.result {
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: hsl(0, 0%, 100%);
  border-radius: 30px;
  border: rgba(0, 0, 0, 0.8);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.result__head {
  color: hsl(0, 0%, 70%);
  margin-bottom: 1rem;
}
.result__content {
  width: 8rem;
  height: 8rem;
  background-image: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result__content-1 {
  font-size: 50px;
  font-weight: 700;
}
.result__content-2 {
  font-size: 14px;
  color: hsl(0, 0%, 70%);
}
.result__remark {
  font-weight: 400;
}
.result__text {
  text-align: center;
  color: hsl(0, 0%, 70%);
}

.summary {
  border: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  padding: 1.5rem 2rem;
  background-color: hsl(0, 0%, 100%);
  display: grid;
  flex-direction: column;
}
@media only screen and (max-width: 1200px) {
  .summary {
    border-radius: none;
  }
}
.summary__head {
  margin-bottom: 1rem;
}
.summary__ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.summary__ratings-reaction {
  background-color: hsl(0, 100%, 96%);
  padding: 0.8rem 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
.summary__ratings-reaction--text {
  color: hsl(0, 100%, 67%);
  flex: 1;
  margin-left: 0.5rem;
}
.summary__ratings-memory {
  background-color: hsl(39, 100%, 96%);
  padding: 0.8rem 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
.summary__ratings-memory--text {
  color: hsl(39, 100%, 56%);
  flex: 1;
  margin-left: 0.5rem;
}
.summary__ratings-verbal {
  background-color: hsl(166, 100%, 96%);
  padding: 0.8rem 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
.summary__ratings-verbal--text {
  color: hsl(166, 100%, 37%);
  flex: 1;
  margin-left: 0.5rem;
}
.summary__ratings-visual {
  background-color: hsl(234, 85%, 96%);
  padding: 0.8rem 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
.summary__ratings-visual--text {
  color: hsl(234, 85%, 45%);
  flex: 1;
  margin-left: 0.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.num {
  color: hsl(0, 0%, 70%);
}

.btn {
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 2rem;
  font-family: inherit;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  align-self: center;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: hsl(234, 85%, 45%);
}

/*# sourceMappingURL=style.css.map */
