.num {
    color: $light-white;
}

.btn {
    background-color: $dark-gray-blue;
    color: $white;
    border: none;
    border-radius: 2rem;
    font-family: inherit;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    align-self: center;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $cobalt-blue;
    }

}